body {
    background-image: url("3d-4k-black-geometric-wallpaper-preview.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: white;
    color: black;
    width: 200px;
    font-weight: bold;
}

#save-btn {
    background: White;
    color: black;
    width: 200px;
    font-weight: bold;
    
}

#reset-btn {
    
    background: black;
}

#resetEntry-btn {
    
    background: black;
}

.container{
    max-width: 80%;
    margin: auto;
    background: orangered;
    box-shadow: 1px; 
    border-radius: 20px;
    
    
}